footer
  p version 0.0.0 (xxxx.xx.xx)
  p This entire website is open source. The code is released under the <a href="http://www.mozilla.org/MPL/2.0/">Mozilla Public License 2.0</a> and <a href="https://github.com/PhDP/igo">is available on github</a>

