header
  p#logo 囲碁
  nav
    ul
      li
        a(href='xxx.html') Games
      li
        a(href='xxx.html') Register
      li
        a(href='xxx.html') LogIn
      li
        a(href='xxx.html') About

