a           {color: #ffff00; text-decoration:none;}
a:link      {color: #ffff00;}
a:visited   {color: #ffff00;}
a:hover     {color: #ffff00;}

body
{
  font-family: Ubuntu;
  color: #ffffff;
  text-align: center;
  background-color: #2A52BE;
  padding: 0px;
  margin: 0px;
}

h1
{
  font-size: 16pt;
  font-weight: bold;
  color: #222EA8;
  text-indent: -8px;
}

#logo
{
  font-size: 72pt;
  margin: 0px;
}

#top
{
  font-size: 12pt;
  margin-top: 0px;
  padding-top: 2px;
  padding-bottom: 16px;
  height: 150px;
}

.menu
{
    font-family: Ubuntu;
    font-size: 16pt;
    font-weight: bold;
    width: 100%;
}

.menu ul
{
    padding: 6px 0 7px 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
    margin: 0;
    text-align: center;
}

.menu ul li
{
    display: inline;
}

.menu ul li a
{
    padding: 6px 3px 4px 3px; /* Top padding is 6px, bottom padding is 4px. */
    margin-right: 20px; /* Spacing between each menu link. */
    text-decoration: none;
}

#main
{
  /* background-color: #c5d8ac; */
  background-color: #ffffff;
  color: #000000;
}

#main a           {color: #0000ff; text-decoration:none;}
#main a:link      {color: #0000ff;}
#main a:visited   {color: #0000ff;}
#main a:hover     {color: #0000ff;}

#content
{
  margin: 0px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 800px;
  text-align: justify;
}

#bottom
{
  margin: 0px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  width: 400px;
}
