extends layout

block content
  h1 Philosophy
  p The primary aim of this website is to provide strong support for synchronous (live), asynchronous (turn-based), and hybrid go games with both synchronous and asynchronous phases.

  h1 Browser Support
  p Supporting old browsers can quickly become a burden, especially if we want to achieve the kind of high interactivity only modern web technologies provide. Thus, we use html5 and <a href="http://socket.io">Socket.IO</a> with the flash fall-back disabled. Most browsers support these features, with the notable exception of Internet Explorer, where WebSocket is only supported in version 10.

  p Testing is done with <a href="http://www.google.com/chrome">Google Chrome</a>, which is free to use, and we recommend it.

  h1 Code!

  p The entire code <a href="https://github.com/PhDP/igo">is available on github</a> so anyone can contribute to its development.</p>


