doctype 5
html
  head
    title 囲碁 -- play go online
    meta(charset='utf8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='http://fonts.googleapis.com/css?family=Ubuntu')
  body
    include includes/header
    div#main
      section
        block content
    include includes/footer

